@import '~bootstrap/scss/bootstrap';
@import '~vue-js-modal/dist/styles.css';
@import "./admin/fonts.css";

$yellow: #ffc42d;
$dark-grey: #141414;

.text-yellow {
    color: $yellow;
}

.border-yellow {
    border: 1px solid $yellow;
}

.bg-dark-grey {
    background-color: $dark-grey;
}

.parallax {
    min-height: 300px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
}

.section.parallax {
    background-color: rgba(0, 0, 0, 0.75);
}

.section {
    padding: 80px 0;
}

.navbar-homepage .nav-item > .nav-link {
    color: $yellow;
    font-size: 19px;
    text-transform: uppercase;
    transition: 0.4s;
}
