.button-column {
    position: relative;
}

.button-container {
    display: flex;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.button-wrapper {
    margin: 0;
}

.button-wrapper a, .button-wrapper button {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1200px) {
    .button-container {
        flex-direction: column;
    }

    .button-wrapper {
        height: 50%;
    }
}

@media (min-width: 1200px) {
    .button-container {
        flex-direction: row;
    }

    .button-wrapper {
        width: 50%;
    }
}
